:root{
    --mainColor:#343b40;
    --colorButton:#ee6f57;
    --colorMainText:#111;
    --colorSubText:#666666;
    --whiteColor:#fff;
    --blackColor:#000;
    --colorHover:#c05c48;
    --notificationsColor:#27AE60;
    --zebraColor:#dcffe4;

  }